*{
    margin: 0;
    padding: 0;
}
#footerLogo>img{
    width: 150px;
    animation-name: shapes;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}
@keyframes shapes{
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
.footerList>a{
    text-decoration: none;
    color: white;
}
#footer{
    width: 100%;
    height: 650px;
    padding-top: 80px;
    font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    background-color: #212432;
}
#footerItems{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
#footerLogoBase{
    font-size: 12px;
    opacity: 0.5;
}
#footerElements{
    display: flex;
    gap: 30px;
}
.footerList{
    font-size: 12px;
    cursor: pointer;
    opacity: 0.6;
    margin-bottom: 25px;
}
.footerTitle{
    font-size: 15px;
    margin-bottom: 25px;
}
#lowerFooter{
    width: 80%;
    margin: auto;
}
#lowerFooterElementIcon{
    margin-top: 20px;
}
.logoFooter>img{
    width: 30px;
    cursor: pointer;
}
.logoFooter>img:hover{
    width: 40px;
}
@media only screen and (min-width: 1793px){
    #lowerFooteron{
        display: flex;
        justify-content: space-between;
    }
    #footerLogo>img{
        width: 200px;
    }
    #footer{
        height: 500px;
    }
    #lowerFooterElementText{
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    #lowerFooterElementIcon{
        display: flex;
        width: 12%;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1471px) and (max-width: 1793px){
    #lowerFooterElementText{
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    #lowerFooteron{
        display: flex;
        justify-content: space-between;
    }
    #lowerFooterElementIcon{
        display: flex;
        width: 12%;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1470px){
    #lowerFooterElementText{
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }
    #lowerFooteron{
        display: flex;
        justify-content: space-between;
    }
    #lowerFooterElementIcon{
        display: flex;
        width: 20%;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 820px) and (max-width: 1000px){
    #lowerFooterElementText{
        margin-top: 20px;
        width: 95%;
        display: flex;
        justify-content: space-around;
    }
    #lowerFooterElementIcon{
        margin: auto;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        width: 20%;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 410px) and (max-width: 820px){
    #footerItems{
        display: block;
    }
    #lowerFooter{
        width: 90%;
        margin: auto;
    }
    #footer{
        height: 800px;
    }
    #footerElements{
        justify-content: space-around;
    }
    #footer{
        padding-top: 50px;
    }
    #footerItems>div:nth-child(1){
        margin-bottom: 50px;
    }
    #footerLogo{
        width: 25%;
    }
    #lowerFooterElementText{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #lowerFooterElementIcon{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
@media only screen and (max-width: 410px){
    #footerItems>div:nth-child(1){
        margin-bottom: 50px;
    }
    #lowerFooter{
        width: 90%;
        margin: auto;
    }
    #footer{
        height: 1430px;
        padding-top: 50px;
    }
    #footerItems{
        display: block;
    }
    #footerElements{
        display: block;
        text-align: center;
    }
    #lowerFooterElementText{
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #footerItems{
        padding-bottom: 10px;
    }
    .logoFooter{
        text-align: center;
    }
    .logoFooter>img{
        width: 50px;
    }
    #lowerFooterElementIcon{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    #footerLogo>img{
        width: 50%;
        display: flex;
        margin: auto;
    }
}
