.content {
  display: flex;
}
#filter-menu {
  display: flex;
  /* border: 1px solid red; */
  display: none;
  max-width: 1400px;
  margin: auto;
}
#search-menu {
  display: none;
}
#heading {
  /* max-width: 1400px; */
  /* border: 1px solid red; */
  margin: auto;
  /* padding-right: 3rem;
    padding-left: 3rem; */
}

.gift-card {
  background-image: url("https://cloudfront.fitnessblender.com/assets/img/custom-cards/orange.png");
  border: 3px solid white;
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gift-card:hover {
  cursor: pointer;
  border-color: #4296cb;
  transition: 1s;
}
#content {
  /* border: 2px solid red; */
  display: flex;
  /* padding: 10px; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
#container_div {
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 30px;
}
.container {
  max-width:1250px;
  /* border: 1px solid blue; */
  margin: auto;
}
.heading_div {
  /* border: 1px solid red; */
}
.content-div {
  /* border: 1px solid red; */
  margin-top: 50px;
  
}
.content {
  /* border: 1px solid blue; */
}
.image {
  /* border: 1px solid black; */
  width: 100%;
}
.cart_div {
  width: 300px;
  /* border: 1px solid green; */
  height: 330px;
  border: 1px solid black;
  cursor: pointer;
}
.cart_div:hover{
  border: 1px solid #4296cb;
  transition: 0.5s;
}
.card_content {
  /* border: 1px solid red; */
  height: 150px;
}
.card-content-1 {
  padding: 13px;
}
.card-content-1 > div {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 550;
  text-align: center;
}
.card-content-1> div:nth-child(1){
  color: #4296cb;
}
.wp-div > h1
{
  margin-bottom: 20px;
  font-size: 40px;
}
.wp-div > p{
  font-size: 25px;
  font-weight: 600;
}