.content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
#filter-menu {
  display: flex;
  /* border: 1px solid red; */
  display: none;
  max-width: 1400px;
  margin: auto;
}
#search-menu {
  display: none;
}
#heading {
  /* max-width: 1400px; */
  /* border: 1px solid red; */
  margin: auto;
  /* padding-right: 3rem;
    padding-left: 3rem; */
}
#heading_div{
   margin: 1rem;
}
.wp-div > h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  border: 1px solid rgba(128, 128, 128, 0.333);
  padding: 0 1rem 0 1rem;
}
.gift-card {
  background-image: url("https://cloudfront.fitnessblender.com/assets/img/custom-cards/orange.png");
  border: 3px solid white;
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gift-card:hover {
  cursor: pointer;
  border-color: #4296cb;
  transition: 1s;
}
#content {
  /* border: 2px solid red; */
  display: flex;
  /* padding: 10px; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
#container_div {
  width: 100%;
  /* border: 1px solid red; */

  margin-bottom: 1rem;
  margin-top: 14rem;

}
.container {
  max-width:100%;
  /* border: 1px solid blue; */
  margin: auto;
}

.content-div {
  /* border: 1px solid red; */
      margin: 1rem 1rem 0 1rem;
  
}

.image {
  /* border: 1px solid black; */
  width: 100%;
}
.cart_div {
  width: 100%;
  /* border: 1px solid green; */
  min-height: 20rem;
  
  cursor: pointer;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

}
.cart_div:hover{
  border: 1px solid #4296cb;
  transition: 0.5s;
}
.card_content {
  /* border: 1px solid red; */
  height: fit-content;
}
.card-content-1 {
  padding: 13px;
}
.card-content-1 > div {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 550;
  text-align: center;
}
.card-content-1> div:nth-child(1){
  color: #4296cb;
}

.wp-div > p{
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width: 1058px){
  .filt_main{
        
    width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
  }
  #one{
    margin-top: 0;
  }
  #container_div {
    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 1rem;
    margin-top: 0rem;
}
  
}