/* *body h1 {
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,"Lucida Grande", sans-serif;
          font: 40px;
      } */

body {
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
}
#onee {
  display: flex;
  /* margin: auto; */
  /* width: 100%; */
  background-image: linear-gradient(to right, #3d97ce, #12debb);

  /* background-color: linear-gradient(to right, #3d97ce , #12debb); */

  color: #fff;
  /* background-color:linear-gradient(to right, #3d97ce , #12debb);; */
}
@media (min-width: 600px) and (max-width: 1000px){
  #onee{
      flex-direction: column;
  }
}

#join_now {
  width: 20%;
  height: 2rem;
  border-radius: 6px;
  font-size: large;
  /* font-weight: bold; */
  background-color: #212432;
  color: white;
  letter-spacing: 0.5px;
  /* background-color: red; */
  margin-left: 30%;
  cursor: pointer;
}
#onee div h1 {
  /* background-color: red; */
  margin-left: 30%;
  margin-top: 20%;
  margin-bottom: 2rem;
  font-size: 35px;
}
#onee div p {
  /* background-color: red; */
  margin-left: 30%;
  font-weight: lighter;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  /* margin-top: 20%; */
}
#two {
  background: -webkit-linear-gradient(320deg, #ece6f8 0%, #f9e7f6 100%);
  background: -o-linear-gradient(320deg, #ece6f8 0%, #f9e7f6 100%);
  background: linear-gradient(130deg, #ece6f8 0%, #f9e7f6 100%);
  width: 98%;
  margin: auto;
  flex-direction: column;
  /* display: flex; */
  /* height: 100px; */
}
#two div h1 {
  /* background-color: red; */
  text-align: center;
  padding-top: 50px;
}
#two div p {
  /* background-color: red; */
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.5px;
  /* font-weight: lighter; */
}
#buy_btn {
  /* background-color: red; */
  width: 10%;
  /* height: 8%; */
  padding: 1rem;
  border-radius: 6px;
  font-size: large;
  /* font-weight: bold; */
  background-color: #212432;
  color: white;
  letter-spacing: 0.5px;
  /* background-color: red; */
  margin-left: 44%;
  cursor: pointer;
  margin-top: 2rem;
  z-index: 0;
  /* position: absolute; */
}
#two div img {
  /* background-color: red; */
  width: 100%;
  /* padding-top: 5%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#three {
  display: flex;
}
@media (min-width: 600px) and (max-width: 1000px){
  #three{
      flex-direction: column;
  }
}
#three div h1 {
  text-align: center;
  margin-top: 1rem;
}

#three div p {
  text-align: center;
  margin-top: 1rem;
}
.three1 {
  background: #f0f4f6;
  /* background-color: red; */
  margin: auto;
  margin-top: 20px;
}
.three2 {
  background: #f9fcfd;
  /* background-color: red; */
  margin: auto;
  margin-top: 20px;
}
#browse {
  color: #3d97ce;
  cursor: pointer;
}
#browse :hover ::after {
  text-decoration: underline;
}
#four {
  display: flex;
  /* margin: auto; */
}
@media (min-width: 600px) and (max-width: 1000px){
  #four{
      flex-direction: column;
  }
}
.four1 {
  margin: auto;
  background: #000000;
  margin-top: 1rem;
}
.four1 h1 {
  color: white;
  margin-top: 2rem;
}
.four1 p {
  color: white;
  margin-top: 2rem;
}
.four2 {
  margin: auto;
  background: #d8d9da;
  margin-top: 20px;
}
#four div p {
  margin-top: 2rem;

  text-align: center;
}
#four div h1 {
  text-align: center;
  margin-top: 2rem;

  /* color: white; */
}
#five {
  background: #effbff;
  margin-top: 1rem;
}
@media (min-width: 600px) and (max-width: 1000px){
  #five{
      flex-direction: column;
  }
}
#five img {
  width: 100%;
}
#five h1 {
  text-align: center;
  padding-top: 40px;
  /* margin-top: 2rem; */
}
#five p {
  text-align: center;
  margin-top: 2rem;
}
#member_btn {
  color: #3d97ce;
  cursor: pointer;
}
