/* *body h1 {
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,"Lucida Grande", sans-serif;
          font: 40px;
      } */

      body {
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
      }
      #one {
        display: flex;
        /* margin: auto; */
        /* width: 100%; */
        background: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from(#3d97ce),
          to(#12debb)
        );
        background: -webkit-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
        background: -o-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
        background: linear-gradient(to bottom right, #3d97ce 0%, #12debb 100%);
        color: #fff;
        
        /* margin-top: 7rem; */
      
      }
      #one img{
        width: 100%;
      }
      #join_now {
        /* width: 17%; */
        /* height: 8%; */
        margin-bottom: 1rem;
        border-radius: 6px;
        padding: 0.6rem;
        font-size: large;
        background-color: rgb(33, 36, 50);
        color: white;
        letter-spacing: 0.5px;
        margin-left: 15%;
        cursor: pointer;
      }
      #one div h1 {
        /* background-color: red; */
            /* background-color: red; */
            margin-left: 15%;
            margin-top: 4%;
            font-size: 2rem;
            margin-bottom: 2rem;
      }
      #one div p {
        /* background-color: red; */
        margin-left: 15%;
        font-weight: lighter;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        /* margin-top: 20%; */
      }
      #two {
        background: -webkit-linear-gradient(320deg, #ece6f8 0%, #f9e7f6 100%);
        background: -o-linear-gradient(320deg, #ece6f8 0%, #f9e7f6 100%);
        background: linear-gradient(130deg, #ece6f8 0%, #f9e7f6 100%);
        width: 98%;
        margin: auto;
      }
      #two div h1 {
        /* background-color: red; */
        text-align: center;
        padding-top: 50px;
      }
      #two div p {
        /* background-color: red; */
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        /* font-weight: lighter; */
      }
      #buy_btn {
        background-color: red;
        border-radius: 6px;
        font-size: large;
        margin-left: 10rem;
        padding: 0.5rem;
        /* font-weight: bold; */
        background-color: #212432;
        color: white;
        letter-spacing: 0.5px;
        /* background-color: red; */
        margin-left: 44%;
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
      }
      #two div img {
        /* background-color: red; */
        padding-top: 5%;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      #three {
        display: flex;
        /* margin-top: 10px; */
        margin: auto;
      }
      #three div h1 {
        text-align: center;
      }
      #three div p {
        text-align: center;
      }
      .three1,.three2 {
        background: #f0f4f6;
        /* background-color: red; */
        margin: auto;
        margin-top: 20px;
        width: 47%;
      }
       
      .three1 img,.three2 img{
        width: 90%;
      }
      #browse {
        color: #3d97ce;
        cursor: pointer;
      }
      #browse :hover ::after {
        text-decoration: underline;
      }
      #four {
        display: flex;
        /* margin: auto; */
      }
      .four1,.four2 {
        margin: auto;
        background: #000000;
        width: 47%;
        margin-top: 20px;
      }
      
      .four1 img,.four2 img{
      
        width: 100%;
      
      }
      .four1 h1 {
        color: white;
      }
      .four1 p {
        color: white;
      }
      
      #four div p {
        text-align: center;
      }
      #four div h1 {
        text-align: center;
        /* color: white; */
      }
      #five {
        background: #effbff;
        margin-top: 2rem;
      }
      #five img {
        width: 100%;
      }
      #five h1 {
        text-align: center;
        padding-top: 40px;
      }
      #five p {
        text-align: center;
      }
      #member_btn {
        color: #3d97ce;
        cursor: pointer;
      }