* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fff;
  width: 100%;
}

#brand {
  /* border: 1px solid green; */
  width: 10%;
  padding: 0.4rem;
}

#brand > a > img {
  width: 80px;
  height: 60px;
}
#menu_main {
  width: 70%;
  display: flex;
  /* border:  1px solid red; */
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
}
#menu_main a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#membership a,
.bl {
  color: rgb(38, 127, 205);
}

#workout_inner_pages,
#program_inner_pages,
#healthy_living_inner_pages,
#about_inner_pages,
#community_inner_pages {
  display: none;
  z-index: 4;
  /* display: inline-block; */
  position: absolute;
  top: 7rem;
  right: 21rem;
  width: 100%;
  left: 0rem;
  /* margin-top: 0.8rem; */
}

#login {
  /* border: 1px solid black; */
  width: 60%;
  display: none;
}
#menu_controls {
  width: 20%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#workout_info,
#custom,
#workout_programs,
#meal_plans {
  width: 5%;
  text-align: center;
  /* min-height: 6rem; */
  border: 1px solid green;
  min-height: 8rem;

  /* align-items: center; */
}
#workout_info:hover,
#custom:hover {
  background-color: rgb(50, 50, 50);
}
.inner_img img {
  width: 100%;
  color: white;
}

#workouts:hover,
#programs:hover,
#healthy_living:hover,
#community:hover,
#about:hover,
#store:hover,
#membership:hover,
#cart:hover {
  border-bottom: 0.2rem solid rgb(55, 136, 198);
  padding-bottom: 0.5rem;
}

.inner_page {
  width: 100%;
  height: 120px;
  background-color: #212432;
  color: white;
  display: flex;
  gap: 7rem;
  margin-top: -2.2rem;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.workout_info {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fitness {
  font-size: 0.9rem;
  font-weight: 600;
}
.logo_name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  /* background-color: 1px solid rgb(240, 9, 9); */
  border-left: 1px solid rgba(36, 35, 35, 0.388);
  border-right: 1px solid rgba(36, 35, 35, 0.162);
  position: relative;
}

.logo_name_container:hover {
  background-color: #0808083f;
  cursor: pointer;
}

.logo {
  filter: brightness(0) invert(1);
  height: 30px;
  width: 30px;
}
.logoName {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

#search_mid {
  display: block;
}
#search {
  margin-top: -1.4rem;
  margin-left: 9rem;
}
#search_mid input {
  border: none;
  /* outline: none; */
  border-bottom: 0.1rem solid rgb(46, 46, 46);
  padding: 0.5rem;
}

#sidebar1 {
  /* height: 100%; */
  width: 100%;
  display: none;
  background-color: #212432;
  /* position: fixed; */
  z-index: 100;
}

#sidebar a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
}

/* #ham {
  margin-left: 2rem;
  margin-top: -5%;
  z-index: 100;
  display: none;
} */
/* #ham i {
  height: 0.5rem;
  width: 1rem;
} */
/* #cancel {
  color: #fff;
} */
/* #cancel i {
  font-size: 25px;
  margin-left: 14vw;
} */

.inner_page_side {
  padding: 0.7rem 1.2rem;
  text-align: center;
}
.inner_page_side > span > a {
  color: #fff;
  opacity: 1;
}
.inner_page_side:hover .items_div {
  display: grid;
  gap: 1rem;
}
.items_div {
  display: none;
  /* flex-wrap: wrap; */
  /* margin-left: 1.5rem; */
  /* color: azure; */
}
.items_div a {
  font-size: 0.6rem;
  color: #9a9ca1;
}
@media only screen and (min-width: 1058px){
  .filt_main{
        
    width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
  }
  #one{
    margin-top: 0;
  }
  
}

@media only screen and (max-width: 1058px) {
  #menu_main {
    display: none;
  }
  #container{
    margin-top: 14rem;
  }
  #search_mid {
    display: block;
  }
  #search_mid input {
    display: block;
    width: 20rem;
  }
  #search {
    margin-top: -1.4rem;
    margin-left: 18rem;
  }
  #menu_controls {
    width: 30%;
  }
  #ham {
    margin-left: 2rem;
    margin-top: -4rem;
    display: block;
  }
  #sidebar1{
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* margin-top: 2rem; */
    z-index: 100;
  }
  #one{
    margin-top: 13rem;
  }
}
@media only screen and (max-width: 1058px) and (min-width: 599px) {
  #sidebar {
    width: 100%;
    display: grid;
  }
  #ham {
    margin-left: 2rem;
    margin-top: -3rem;
  }
  #menu_controls {
    width: 20%;
  }
  #search {
    margin-top: -1.4rem;
    margin-left: 18rem;
  }
}
@media only screen and (max-width: 914px) and (min-width: 412px) {
  #sidebar {
    width: 100%;
    display: grid;
  }
  #brand > a > img {
    min-height: 5rem;
    width: 5rem;
  }
  #menu_controls {
    width: 45%;

    justify-content: space-between;
  }
  #ham {
    margin-left: 1rem;
    margin-top: -4rem;
  }

  #menu_controls {
    width: 62%;
  }
}

@media only screen and (max-width: 914px) and (min-width: 539px) {
  #sidebar {
    width: 100%;
    display: grid;
  }
  #sidebar a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  .items_div {
    font-size: 1.2rem;
    /* color: azure; */
  }
}

@media only screen and (max-width: 599px) {
  #search_mid input {
    display: none;
    width: 10rem;
  }
  #menu_controls {
    width: 32%;
  }
  #search {
    display: none;
    margin-top: -1.4rem;
    margin-left: 9rem;
  }
}
