.image-td{
    display: flex;
}
.image{
    width: 150px;
}
.heading{
    height: 100px;
   
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 100%;
    margin: auto;
    background-color: white;
}
.heading > h2{
    font-size: 30px;
    
}
.heading-div{
    max-width: 1400px;
    margin: auto;
    background: white;
}
#cont-div{
    width: 100%;
    /* border: 1px solid red; */
    
}
.container{
    width: 100%;
    margin: auto;
    /* border: 1px solid blue; */
}
.payment-container{
    background: #F0F4F6;
    width: 100%;
    margin: auto;
   
    
    
}
.payment-heading{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    height: 50px;
    border: 1px transparent black;
    

    
    
}
.payment-heading > div{
    margin: auto;
    font-size: large;
    font-weight: 600;
}
#js-append{
    
}
.payment-cont{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid green; */
    padding: 20px;
    padding: 25px 0px;
    align-items: center;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.img-cont{
    display: flex;
    margin-left: -30px;
    
}
.img-cont > img{
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
}
.img-cont > div > p{
    /* font-size: 15px; */
    font-weight: 600;
}
.remove{
    margin-left: -200px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.prise-div{
    font-weight: 600;
    font-size: 20px;
}
.total{
    height: 100px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
    border-left: 0;
    border-right: 0;

}
.total > div:nth-child(1){
    margin-left: 220px;
}
.total > div:nth-child(2){
    margin-right: 200px;
}
.button{
    height: 100px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

}
.button > button{
    border: 1px solid #4296cb;
    margin-top: 13px;
    background: none;
    width: 250px;
    height: 70px;
    cursor: pointer;
    font-weight: 400;
    background: #4296cb;
    color: #ffffff;
    border-radius: 10px;
    font-size:20px;
}
.button > button:nth-child(1){
    margin-left: 150px;
    background-color: #4296cb;
    color: #ffffff;
}
.button > button:nth-child(2){
    margin-right: 110px;
}

.payment-table{
    background-color: white;
    border: 1px solid black;
}
.payment-table{
    max-width: 1400px;
    margin: auto;
}
